<header>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Workout Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/viewAll" routerLinkActive="active">View All</a>
        </li>
        <li class="nav-item">
          <a routerLink="/create" routerLinkActive="active">Create</a>
        </li>
        <li class="nav-item">
          <a routerLink="/category" routerLinkActive="active">Category</a>
        </li>
        <li class="nav-item">
          <a routerLink="/track" routerLinkActive="active">Track</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">Workout Tracker</div>
    </div>
    <div class="nav-btn">
      <label for="nav-check"> <span></span> <span></span> <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a routerLink="/viewAll" routerLinkActive="active">view All</a> <a routerLink="/create"
        routerLinkActive="active">Create</a> <a routerLink="/category" routerLinkActive="active">category</a><a
        routerLink="/track" routerLinkActive="active">Track</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </div> -->
</header>