
  <header>
    <div class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">Workout Tracker</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check"> <span></span> <span></span> <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a routerLink="/viewAll" routerLinkActive="active">view All</a> <a routerLink="/create"
          routerLinkActive="active">Create</a> <a routerLink="/update" routerLinkActive="active">category</a><a
          routerLink="/search" routerLinkActive="active">Track</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
    </div>
  </header>

