<div class="container my-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="display-4" style="font-size: 3em;">Update Workout<div style="float:right;font-size: 1em; ">
          <i class="fas fa-biking"></i><span style="color: red;"> <i class="fas fa-heartbeat"></i></span>
        </div>
      </div>
      <br />
      <div style="float: right;"><span style="font-size: larger;" (click)="successHandler('1')"><i
            class="fas fa-times"></i></span></div>
      <br /><br />
      <app-workout-form (successHandler1)="successHandler($event)" (sendWorkouParentt)="putWorkout($event)"
        [workout]="workout" [parent]="parent">
      </app-workout-form>
    </div>
  </div>
</div>
