<div>
  <h2><strong>Add Category</strong></h2>
</div>

<div class="form-group">
  <div class="col-md-8 mx-auto">
    <input
      type="text"
      class="form-control"
      id="inputCalories"
      placeholder="Add category"

      [(ngModel)]="category.title"

      required
    />
  </div>
  <div class="col-md-4 mx-auto">
    <button
      type="button"
      (click)="saveCategory()"
      class="btn btn-link"
      style="padding: 1%; border: 2px solid blue; margin: 0px"
    >
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<br>
<br>
<div class="col-md-12 mx-auto">
  <input
    type="text"
    id="title"
    class="form-control"
    placeholder="Search here..."
    [(ngModel)]="searchedKeyword"
    required
  />
</div>

<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let category of categoryArray|filter:searchedKeyword; index as i">
            <td>{{ category.title }}</td>

            <td>
              <button type="button" (click)='this.update1(i,category.id)' class="btn btn-success">
                <i class="fas fa-edit"></i></button
              >&nbsp;&nbsp;
              <button type="button" (click)='this.deleteCategory(category.id,i)' class="btn btn-danger">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
