<div class="container my-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="form-group">
                <input type="text" id="title" class="form-control" required>
                <label class="form-control-placeholder" for="title">Title</label>
            </div>
            <div class="form-group">
                <textarea type="note" id="note" class="form-control" required></textarea>
                <label class="form-control-placeholder" for="note">Note</label>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-left">
                    <input type="date" class="form-control" id="inputstartdate" placeholder="Start Date">
                    <label class="form-control-placeholder" for="inputstartdate">Start Date</label>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-left">
                    <input type="time" class="form-control" id="inputstarttime" placeholder="Start Time" onfocus="(this.type='date')">
                    <label class="form-control-placeholder" for="inputstarttimme">Start Time</label> 
                    
                </div>
            </div>
          
            <div class="form-group form-inline" style="margin: 4%;justify-content: center">
                <button type="button" class="btn btn-primary"> Start</button>
            </div>
        </div>
    </div>
</div>